<script>
  $(function() {
    $('.wmd-output').each(function(i) {
      var converter = new Markdown.Converter();
      Markdown.Extra.init(converter);
      var content = $.trim($(this).text());
      $(this).html(converter.makeHtml(content));
    });
  });
</script>

<br />
<br />
<div class="col-xs-10 col-xs-offset-1">
  <div class="col-lg-6 col-sm-12">
    <div class="">
      <h2>
        <%= @post.title %>
      </h2>
      <p class="wmd-output post-box">
      <%= @post.message %>
      </p>
    </div>
    <br />
    <% if user_signed_in? %>
      <%= simple_form_for @reply, url: reply_post_path do |f| %>
        <%= f.input :message, label: 'Reply', as: :pagedown, input_html: { rows: 14 } %>
        <%= f.submit "SUBMIT", class: "btn btn-info bottom" %>
      <% end %>
    <% end %>
  </div>

  <div class="col-lg-6 col-sm-12">
    <h2>Replies</h2>
    <div class="replies">
      <% if @post.replies.empty? %>
        <p>
          be the first to reply
        </p>
      <% else %>
      <% @post.replies.reverse_each do |reply| %>
        <p class="wmd-output">
          <%= reply.message %>
        </p>
        <span class="user-mail"><%= reply.user.email %></span>
        <br />
        <hr class="reply-line">
        <br />
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<br class="clear">
